<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('partials/head', { pageTitle: title }) %>
  </head>
  <body>
    <%- include('partials/header', { headerClass: 'header-black'}) %>
    <main>
      <div class="error-container">
        <h1 class="title-error"><%= title %></h1>
        <img src="/images/error/relojRoto.jpg" alt="" />
        <p><%= message %></p>
        <p>Lo sentimos, parece que algo salió mal.</p>
        <a href="/" class="btn-outline" id="btn-error">Volver al inicio</a>
      </div>
    </main>

    <%- include('partials/footer') %>
  </body>
</html>
