<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('partials/head', { pageTitle: title }) %>
  </head>
  <body>
    <%- include('partials/header', { headerClass: headerClass}) %>
    <div class="box-header-home">
      <img
        src="/images/banners/fondoHome.jpg"
        alt="banner watch"
        id="bannerHeader"
      />
      <p class="phrase">
        Donde la elegancia se une a la precisión en cada reloj
      </p>
      <a class="link-collection" href="/products">
        <span>Explora nuestra colección</span>
        <i class="bx bx-right-arrow-alt"></i>
      </a>
      <form action="/search" class="search-form" method="get">
        <div class="search-container">
          <input name="query" placeholder="Buscar..." type="text" />
          <i class="bx bx-search-alt"></i>
        </div>
      </form>
    </div>

    <main>
      <section class="container-marcas">
        <h2>Nuestras Marcas Destacadas</h2>

        <div class="slider">
          <div class="logos">
            <div class="logos-slide">
              <img
                src="/images/logos/Audemars_Piguet-logo.png"
                alt="Audemars Piguet"
              />
              <img src="/images/logos/Citize.jpg" alt="Citize" />
              <img src="/images/logos/Lacoste.png" alt="Lacoste" />
              <img src="/images/logos/omega.png" alt="Omega" />
              <img src="/images/logos/patekphilippe.png" alt="Patek Philippe" />
              <img src="/images/logos/rolex.png" alt="Rolex" />
              <img src="/images/logos/Seiko.jpg" alt="Seiko" />
              <img src="/images/logos/Skagen.png" alt="Skagen" />
              <img src="/images/logos/tagHever.png" alt="Tag Heuer" />
              <img src="/images/logos/Tissot.png" alt="Tissot" />
            </div>

            <div class="logos-slide">
              <img
                src="/images/logos/Audemars_Piguet-logo.png"
                alt="Audemars Piguet"
              />
              <img src="/images/logos/Citize.jpg" alt="Citize" />
              <img src="/images/logos/Lacoste.png" alt="Lacoste" />
              <img src="/images/logos/omega.png" alt="Omega" />
              <img src="/images/logos/patekphilippe.png" alt="Patek Philippe" />
              <img src="/images/logos/rolex.png" alt="Rolex" />
              <img src="/images/logos/Seiko.jpg" alt="Seiko" />
              <img src="/images/logos/Skagen.png" alt="Skagen" />
              <img src="/images/logos/tagHever.png" alt="Tag Heuer" />
              <img src="/images/logos/Tissot.png" alt="Tissot" />
            </div>
          </div>
        </div>
      </section>

      <section class="container-products">
        <h2>Productos en Oferta</h2>
        <div class="grid-container">
          <% for (let watchHome of offerProducts) { %>
          <article class="card">
            <div class="card-img">
              <img alt="<%= watchHome.Name %>" src="<%= watchHome.Image %>" />
            </div>
            <div class="card-content">
              <h3><%= watchHome.Name %></h3>
              <p>
                <span class="span-price-original">$<%= watchHome.Price %></span>
                <% if (watchHome.DiscountPercentage > 0) { %>
                <span class="span-DiscountPercentage"
                  >% <%= watchHome.DiscountPercentage %></span
                >
                <% } %>
              </p>
            </div>
            <div class="btn-group">
              <a href="/products/<%= watchHome.Id %>" class="btn-outline"
                >Ver Detalles</a
              >
              <button class="btn-outline">
                <i class="bx bxs-shopping-bag"></i> Añadir al carrito
              </button>
            </div>
          </article>
          <% } %>
        </div>
      </section>

      <section class="container-banner">
        <div class="container-category">
          <img src="/images/banners/hombres.jpg" alt="" />
          <h4 class="title-category">Hombres</h4>
        </div>
        <div class="container-category">
          <img src="/images/banners/mujeres.jpg" alt="" />
          <h4 class="title-category">Mujeres</h4>
        </div>
        <div class="container-category">
          <img src="/images/banners/Niños.jpg" alt="" />
          <h4 class="title-category">Niños</h4>
        </div>
      </section>

      <section class="container-products">
        <h2>Nuevos Lanzamientos para Niños</h2>
        <div class="grid-container">
          <% for (let watchHome of kidsWatches) { %>
          <article class="card">
            <div class="card-img">
              <img alt="<%= watchHome.Name %>" src="<%= watchHome.Image %>" />
            </div>
            <div class="card-content">
              <h3><%= watchHome.Name %></h3>
              <p>
                <span class="span-price-original">$<%= watchHome.Price %></span>
                <% if (watchHome.DiscountPercentage > 0) { %>
                <span class="span-DiscountPercentage"
                  >% <%= watchHome.DiscountPercentage %></span
                >
                <% } %>
              </p>
            </div>
            <div class="btn-group">
              <a href="/products/<%= watchHome.Id %>" class="btn-outline"
                >Ver Detalles</a
              >
              <button class="btn-outline">
                <i class="bx bxs-shopping-bag"></i> Añadir al carrito
              </button>
            </div>
          </article>
          <% } %>
        </div>
      </section>

      <div class="comentarios">
        <h2>Reseñas de nuestros clientes</h2>
        <div class="comentarios-lista">
          <div class="comentario">
            <div class="avatar">
              <img src="avatar1.jpg" alt="Avatar del cliente" />
            </div>
            <div class="contenido">
              <h3>Muy recomendable</h3>
              <p>
                La experiencia en esta página web es excelente. La atención al
                cliente es eficiente y la navegación es fluida. ¡Sin duda
                volveré a comprar aquí!
              </p>
              <div class="calificacion">
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
              </div>
            </div>
          </div>

          <div class="comentario">
            <div class="avatar">
              <img src="avatar2.jpg" alt="Avatar del cliente" />
            </div>
            <div class="contenido">
              <h3>Altamente recomendable</h3>
              <p>
                Comprar en esta página web ha sido una experiencia muy
                satisfactoria. La plataforma es intuitiva y el servicio es muy
                eficiente. ¡Volveré a utilizarla!
              </p>
              <div class="calificacion">
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
              </div>
            </div>
          </div>

          <div class="comentario">
            <div class="avatar">
              <img src="avatar3.jpg" alt="Avatar del cliente" />
            </div>
            <div class="contenido">
              <h3>Excelente servicio</h3>
              <p>
                El sitio ofrece una experiencia de compra excepcional. La
                navegación es fácil y los procesos son rápidos. La atención al
                cliente es de primera calidad.
              </p>
              <div class="calificacion">
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
              </div>
            </div>
          </div>
        </div>
      </div>
    </main>

    <%- include('partials/footer') %>

    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.min.js"></script>
  </body>
</html>
