<!DOCTYPE html>
<html lang="es">
  <head>
    <%- include('../partials/head', { pageTitle: title }) %>
  </head>
  <body>
    <%- include('../partials/header', { headerClass: 'header-black'}) %>
    <main>
      <section class="box-form-admi">
        <h1 class="title-products">Actualizar Producto</h1>
        <form
          action="/admi/edit/<%= edit.id %>?_method=PUT"
          method="POST"
          class="form-admi"
          enctype="multipart/form-data"
        >
          <label for="name">Nombre del Producto:</label>
          <input
            type="text"
            id="name"
            name="name"
            value="<%= edit.name %>"
            required
          />

          <label for="description">Descripción:</label>
          <textarea
            rows="6"
            cols="50"
            id="description"
            name="description"
            required
          >
           <%= edit.description %></textarea
          >
          <label for="image">Imagen:</label>
          <% if (edit.images[0].url) { %>
          <img
            class="image-edition"
            src="<%= edit.images[0].url%>"
            alt="Imagen del Producto"
          />
          <% } %>
          <input type="hidden" name="oldImage" value="<%= edit.images[0].url %>" />
          <input type="file" id="image" name="image" />

          <label for="category">Categoría:</label>
          <input
            type="text"
            name="category"
            id="category"
            value="<%= edit.category.name %>"
            required
          />

          <label for="colors">Color:</label>
          <input
            type="text"
            id="colors"
            name="colors"
            value="<%= edit.color.name %>"
          />

          <label for="price">Precio:</label>
          <input
            type="number"
            id="price"
            name="price"
            step="0.01"
            value="<%= edit.price %>"
            required
          />

          <label for="brand">Marca:</label>
          <input
            type="text"
            id="brand"
            name="brand"
            value="<%= edit.brand.name %>"
            required
          />

          <label for="model">Modelo:</label>
          <input
            type="text"
            id="model"
            name="model"
            value="<%= edit.model.name %>"
            required
          />

          <label for="box">Tipo de Caja:</label>
          <input
            type="text"
            id="box"
            name="box"
            value="<%= edit.box.description %>"
            required
          />

          <label for="band">Banda:</label>
          <input
            type="text"
            id="band"
            name="band"
            value="<%= edit.band.description %>"
            required
          />

          <label for="dial">Dial:</label>
          <input
            type="text"
            id="dial"
            name="dial"
            value="<%= edit.dial.description%>"
            required
          />

          <label for="movement">Movimiento:</label>
          <input
            type="text"
            id="movement"
            name="movement"
            value="<%= edit.movement.description %>"
            required
          />

          <label for="waterResistance">Resistencia al Agua:</label>
          <input
            type="text"
            id="waterResistance"
            name="waterResistance"
            value="<%= edit.waterResistance.description%>"
            required
          />

          <label for="stock">Cantidad en Stock:</label>
          <input
            type="number"
            id="stock"
            name="stock"
            value="<%= edit.stock %>"
            required
          />

          <div class="radio-group">
            <label class="radio-label">Oferta:</label>
            <div class="radio-option">
              <input type="radio" id="offer-true" name="offer" value="true" <%=
              edit.Offer ? 'checked' : '' %> />
              <label for="offer-true">Sí</label>
            </div>
            <div class="radio-option">
              <input type="radio" id="offer-false" name="offer" value="false"
              <%= !edit.Offer ? 'checked' : '' %> />
              <label for="offer-false">No</label>
            </div>
          </div>

          <label for="discount">Descuento (%):</label>
          <input
            type="number"
            id="discount"
            name="discount"
            min="0"
            max="100"
            value="<%= edit.discount_percentage %>"
          />

          <div class="btn-group-admi">
            <a href="/admi/administrar" class="btn-outline">Volver</a>
            <button type="submit" class="btn-submit">Actualizar</button>
          </div>
        </form>
      </section>
    </main>

    <%- include('../partials/footer') %>

    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.min.js"></script>
  </body>
</html>
