<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('../partials/head', { pageTitle: title }) %>
  </head>

  <body>
    <%- include('../partials/header', { headerClass: 'header-black' }) %>
    <main>
      <section class="box-product">
        <article class="article-detail">
          <div>
            <img src="<%= details.images[0].url %>" alt="<%= details.name %>" />
          </div>
          <div class="box-detail">
            <h1 class="title-detail"><%= details.name %></h1>
            <p>
              Precio:
              <span class="span-price-original" id="span-price-details"
                >$<%= details.price %></span
              >
            </p>
            <% if (details.stock> 0) { %>
            <p>Disponibilidad: <span class="stock">Artículo en Stock</span></p>
            <% } else { %>
            <p>Disponibilidad: <span class="stock">No Disponible</span></p>
            <% } %>
            <p>Cantidad</p>
            <form action="/cart/add" method="POST" class="add-to-cart-form">
              <input type="hidden" name="productId" value="<%= details.id %>">
              <input type="hidden" id="quantity-<%= details.id %>" name="quantity" value="1">
              <button class="btn-submit" type="submit">
                <i class="bx bxs-shopping-bag"></i> Añadir al carrito
              </button>
            </form>
            
          </div>
        </article>
        <div class="Description">
          <h3>Descripción</h3>
          <p><%= details.description %></p>
        </div>
        <h3 class="title-table">Resumen del Producto</h3>
        <table class="table-details">
          <tr>
            <th>Marca</th>
            <td><%= details.brand.name %></td>
          </tr>
          <tr>
            <th>Modelo</th>
            <td><%= details.model.name %></td>
          </tr>
          <tr>
            <th>Caja</th>
            <td><%= details.box.description %></td>
          </tr>
          <tr>
            <th>Banda</th>
            <td><%= details.band.description%></td>
          </tr>
          <tr>
            <th>Dial</th>
            <td><%= details.dial.description%></td>
          </tr>
          <tr>
            <th>Movimiento</th>
            <td><%= details.movement.description %></td>
          </tr>
          <tr>
            <th>Resistencia al agua</th>
            <td><%= details.waterResistance.description %></td>
          </tr>
        </table>
      </section>
    </main>

    <%- include('../partials/footer') %>

    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.min.js"></script>
  </body>
</html>
